body {
	background-color: #000;
	font-family: tahoma;
	font-size: 11px;
	color: #FFF;
}

h1 {
	font-family: sans-serif;
	font-size: 40px;
}

#darkmatch {
	max-width: 960px;
	display: inline-block;
}

#page-wrap {
	width: 960px;
	margin: 0 auto;
}

.banner {
	max-height: 100px;
	max-width: 960px;
	display: inline-block;
	border-top: 1px solid #808080;
}

nav {

}

footer {
	padding-top: 100px;
	margin: 0 auto;
	text-transform: uppercase;
}