body {
	background-color: #000;
	font-family: tahoma;
	font-size: 12px;
	color: #FFF;
}

h1 {
	font-family: sans-serif;
	font-size: 35px;
	color: #808080;
	text-align: center;
}

#darkmatch {
	max-width: 960px;
	display: inline-block;
}

#page-wrap {
	width: 960px;
	margin: 0 auto;
}

.banner {
	max-height: 100px;
	max-width: 960px;
	display: inline-block;
	border-top: 1px solid #808080;
}

#love-wrestling {
	vertical-align: top;
	max-width: 30%;
	margin: 2px;
	padding: 20px;
	display: inline-block;
	border-right: 1px solid #808080;
}

#love-wrestling p {
	padding-bottom: 10px;
	padding-top: 10px;
}

#wrestling-news {
	vertical-align: top;
	max-width: 60%;
	padding: 20px;
	display: inline-block;
}

h3 {
	font-size: 24px;
	font-color: #808080;
}

footer {
	padding-top: 100px;
	margin: 0 auto;
	text-transform: uppercase;
	text-align: center;
}